{% load static %}
{% load expr %}

<!-- Aside Bar  -->
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <aside class="nav sidebar-nav" id="sidebar-wrapper" role="search" style="top: 60px;">
        <div class="elementi">
            {{ elementi_tree }}
        </div>
    </aside>
    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <div id="hamburger1"></div>
        </button>
    </div>
</div>
<!-- /#wrapper -->

<script>
    let trigger = $('.hamburger'),
        overlay = $('.overlay'),
        isClosed = false;

    trigger.click(function () {
        hamburger_cross();
    });

    function hamburger_cross() {

        if (isClosed == true) {
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
        } else {
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
        }
    }

    $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
    });


    $('.elementi').click(function () {
        $('#wrapper').toggleClass('toggled');
    });
</script>
